.banner-background{
    background-image: url("./../../dist/images/imgs/Background.png");
    background-repeat: no-repeat;
}

.login-background{
    background-image: url("./../../dist/images/imgs/unsplash_jpkfc5_d-DI.png");
}