.badge-orange {
    color: var(--clr-white);
    background-color: var(--clr-orange-300);
    border-radius: 0.12rem;
    padding: 0.12rem !important;
}

.badge-green {
    color: var(--clr-black);
    background-color: var(--clr-green-100);
    border-radius: 0.12rem;
    padding: 0.12rem !important;
}

.badge-orange-big {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.37rem;
    gap: 0.5rem;
    position: absolute;
    width: 5.75rem;
    height: 1.75rem;
    left: 1rem;
    top: 1rem;
    background: var(--clr-orange-300);
    border-radius: 0.12rem;
}