@use '../abstracts/vars';

$phone : '(max-width: 480px)';
$tablet : '(max-width: 770px)';

@mixin set-font($ff:vars.$ff, $fw:vars.$fw-reg, $fs:vars.$fs-rg, $fc:vars.$clr-black){
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $fc;
}

@mixin responsive($media) {
    @media only screen and #{$media} {
        @content;
    }
}







