@use '../abstracts/vars';

$phone : '(max-width: 376px)';
$tablet : '(max-width: 600px)';

@mixin set-font($ff:vars.$ff, $fw, $fs, $fc:vars.$clr-black){
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $fc;
}


