@use '../abstracts/vars';
@use '../abstracts/mixins';

.footer-color {
    background: vars.$clr-orange-200;
    color: vars.$clr-white;
    
    left: 0;
}

.footer-position-end{
    position: relative;
        bottom:0px ;
}



