@use '../abstracts/vars';
@use '../abstracts/mixins';

.center {
    display: flex;
    justify-content: center;
}

.padding-0 {
    padding-bottom: 0rem !important;
}

.recipe-description-space{
    min-height: 6rem;
}

.recipe-description-space-top10{
    min-height: 4rem;
}

.center-items-list{
    display: flex;
    align-items: center;
    justify-content: left;
}

.center-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements-column{
    @include mixins.responsive(mixins.$phone){
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }
    @include mixins.responsive(mixins.$tablet){
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }
}

.width-elements-responsive{
    @include mixins.responsive(mixins.$phone){
        width: 90%;
    }
    @include mixins.responsive(mixins.$tablet){
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1366px){
    .width-elements-responsive{
        width: 90%;
    }

    .position-text-list-recipes{
        margin-left: 3rem;
    }
}
