@use '../abstracts/vars';
@use '../abstracts/mixins';

.badge-orange {
    @include mixins.badge-small(vars.$clr-white, vars.$clr-orange-300);
}

.badge-orange:hover{
    color: vars.$clr-green-100;
}

.badge-green {
    @include mixins.badge-small(vars.$clr-black, vars.$clr-green-100);
}

.badge-green:hover{
    color: vars.$clr-orange-300;
}

.badge-yellow {
    @include mixins.badge-small(vars.$clr-black, vars.$clr-yellow-100);
}

.badge-yellow:hover{
    color: vars.$clr-red-100;
}

.badge-red {
    @include mixins.badge-small(vars.$clr-white, vars.$clr-red-100);
}

.badge-red:hover{
    color: vars.$clr-yellow-100;
}

.badge-orange-big {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.37rem;
    gap: 0.5rem;
    position: absolute;
    width: 5.75rem;
    height: 1.75rem;
    left: 1rem;
    top: 1rem;
    background: vars.$clr-orange-300;
    border-radius: 0.12rem;
}