@use '../abstracts/vars';
@use '../abstracts/mixins';

.btn-orange-dark{
    @include mixins.btn(vars.$clr-orange-200, vars.$clr-black);
    border: none;
    border-radius: vars.$br-100;
    width: 80%;
    height: 1.87rem;
}

.btn-orange-dark:hover{
    font-weight: vars.$fw-med;
    transition: all 1s;
    color: vars.$clr-white
}

.btn-orange-light{
    @include mixins.btn(vars.$clr-orange-50, vars.$clr-orange-300);
    border: none;
    border-radius: vars.$br-100;
    width: 80%;
    height: 1.87rem;
}

.btn-orange-light:hover{
    @include mixins.btn(vars.$clr-orange-50, vars.$clr-black-200);
    transition: all 1s;
}

.btn-width-max{
    width: 100%;
}

.btn-circular {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: none;
    background: vars.$clr-orange-300;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.37rem;
}

.btn-item-list {
    @include mixins.btn(vars.$clr-orange-200, vars.$clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    gap: 0.37rem;
    width: 10.5rem;
    height: 1.87rem;
    border-radius: 0.5rem;
    border: none;
}

.btn-admin-orange {
    @include mixins.btn(vars.$clr-orange-200, vars.$clr-white);
    border-radius: 0.5rem;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    gap: 0.37rem;
}

.btn-admin-orange:hover{
    background-color: vars.$clr-orange-200;
    color: vars.$clr-white;
    font-weight: vars.$fw-med;
}

.btn-admin-red {
    @include mixins.btn(vars.$clr-red-100, vars.$clr-white);
    border-radius: 0.5rem;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    gap: 0.37rem;
}

.btn-admin-red:hover{
    background-color: vars.$clr-red-100;
    color: vars.$clr-white;
    font-weight: vars.$fw-med;
}

.btn-search {
    background: vars.$clr-orange-50;
    border: 1px solid vars.$clr-orange-300;
    border-radius: 0.5rem;
    width: 3rem;
    height: 2.5rem;
}

.btn-search:hover{
    background: vars.$clr-white;
    border: 1px solid vars.$clr-orange-300;
    border-radius: 0.5rem;
}
