@use '../abstracts/vars';
@use '../abstracts/mixins';
@import url(../../../dist/images/imgs/);

.line-deco {
    border-top: 0.1rem solid vars.$clr-black-200;
    display: block;
    max-width: 66%;
    border-color: vars.$clr-gray-200;
}

.size-img {
    height: 12.5rem;
    width: 12.5rem;
}

.size-img-banner{
    width: 51rem;
}

.size-img-big {
    height: 16.62rem;
    width: 21.5rem;
 
    @include mixins.responsive(mixins.$tablet){
        height: 16.62rem;
        width: 24.25rem;
    }
}

.size-img-sm {
    width: 3.063rem;
    height: 1.9rem;
}

.size-img-list{
    width: 331px;
    height: 176px;
    border-radius: 8px;
}

.size-img-detail{
    height: 35.12rem;
    width: 33.12rem;
    margin-top: 0;
    border-radius: 0.2rem;
}

.img-retote {
    transform: rotate(90deg);
}

.photo-user-small{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

#photo-desk{
    display: block ;

    @include mixins.responsive(mixins.$phone){
        display: none;
    }

    @include mixins.responsive(mixins.$tablet){
        display: none;
    }
}

#photo-phone{
    display: none ;

    @include mixins.responsive(mixins.$phone){
        display: block;
    }

    @include mixins.responsive(mixins.$tablet){
        display: block;
    }
}

.photo-user-big{
    border-radius: 50%;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}

.top-border-photo{
    border: 0.063rem solid hidden;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.margin-icon{
    margin-top: 2rem;
}

.ocultar{
    @include mixins.responsive(mixins.$tablet){
        display:none;
    }
}

.center-img-detail{
    @include mixins.responsive(mixins.$tablet){
        max-width: 90%;
    }
}

.img-fluid{
    @include mixins.responsive(mixins.$tablet){
        width: 100%;
    }
}

.position-logo{
    margin-left: 2.3rem;
    
    @include mixins.responsive(mixins.$tablet){
        margin-left: 0rem;
    }

    @include mixins.responsive(mixins.$phone){
        margin-left: 0rem;
    }
}

@media (min-width: 768px) and (max-width: 1366px){
    .size-img-banner{
        width: 34rem !important;
    }
}